<a href="https://colab.research.google.com/github/GayathriShrikanth/AI_CryptAux/blob/master/J046_PM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Gayathri Shrikanth
J046
Set A

Q1) A variable is a characteristic or condition that can change or take on different values.  
They can be  measured, controlled, or manipulated as required.
Research usually begind=s with a hypothesis which is a relationship between 2 or more variables.
The different types of variables are independent, dependent, discrete, categorical, continuous variable etc 

Independent variable- Can be changed or controlled in a scientific experiment to test the effects on the dependent variable. Usually called the X variable

Dependent variable is the variable being tested and measured in a scientific experiment. It is usually the value to be predicted also called the Y variable.
In the dataset given price is the dependent variable

Discrete variables or Categorical variables (such as class size) consist of indivisible categories
•	Number of road accidents in New Delhi.
•	Number of siblings of an individual.

Continuous variables are infinitely divisible into whatever units a researcher may choose.
•	Age of a person
•	Height of a person

Q2 a)
Inferential statistics are methods for using sample data to make general conclusions (inferences) about populations.  
Because a sample is typically only a part of the whole population, sample data provide only limited information about the population.  As a result, sample statistics are generally imperfect representatives of the corresponding population parameters.

Q2 b)
Median
The median is the middle score for a set of data that has been arranged in order of magnitude. 
This means to find the median, order your data from smallest to largest
The median is less affected by outliers and skewed data.

In [0]:
import pandas as pd
df=pd.read_csv("/content/CarPrice_Assignment.csv")

In [2]:
X=df.drop(["price"], 1)
y=df["price"]
df.head()

   car_ID  symboling                   CarName  ... citympg highwaympg    price
0       1          3        alfa-romero giulia  ...      21         27  13495.0
1       2          3       alfa-romero stelvio  ...      21         27  16500.0
2       3          1  alfa-romero Quadrifoglio  ...      19         26  16500.0
3       4          2               audi 100 ls  ...      24         30  13950.0
4       5          2                audi 100ls  ...      18         22  17450.0

[5 rows x 26 columns]

In [37]:
df["CarName"].value_counts()#lot cat
df["fueltype"].value_counts()#Label
df["aspiration"].value_counts()#label
df["doornumber"].value_counts()#label
df["carbody"].value_counts()#1hot
df["drivewheel"].value_counts()#1hot
df["enginelocation"].value_counts()#label
df["enginetype"].value_counts()#7categories
df["cylindernumber"].value_counts()#convert no or leave
df["fuelsystem"].value_counts()#8 cat

mpfi    94
2bbl    66
idi     20
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: fuelsystem, dtype: int64

In [41]:
df.dtypes

car_ID                int64
symboling             int64
CarName              object
fueltype             object
aspiration           object
doornumber           object
carbody              object
drivewheel           object
enginelocation       object
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
enginetype           object
cylindernumber       object
enginesize            int64
fuelsystem           object
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
dtype: object

In [0]:
from sklearn.metrics import r2_score, mean_squared_error, accuracy_score
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
X['fueltype']= le.fit_transform(df['fueltype'])
X['aspiration']= le.fit_transform(df['aspiration'])
X['doornumber']= le.fit_transform(df['doornumber'])
X['enginelocation']= le.fit_transform(df['enginelocation'])

In [0]:
X=X.drop(["car_ID"], 1)

In [0]:
#One hot encoding the columns
X = pd.get_dummies(X,columns=["CarName","carbody", "drivewheel", "enginetype", "cylindernumber", "fuelsystem"])

In [43]:
X.head()

   symboling  fueltype  ...  fuelsystem_spdi  fuelsystem_spfi
0          3         1  ...                0                0
1          3         1  ...                0                0
2          1         1  ...                0                0
3          2         1  ...                0                0
4          2         1  ...                0                0

[5 rows x 195 columns]

In [4]:
#Checking for null values/missing values
df.isna().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [0]:
from sklearn.linear_model import LinearRegression 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [48]:
#Performing linear regression
linReg=LinearRegression()
linReg.fit(X_train,y_train)
y_pred=linReg.predict(X_test)
score=linReg.score(X_test,y_test)
print(score)
print ("R2 = ",r2_score(y_test, y_pred))
#Accuracy on test

0.43261960665485877
R2 =  0.43261960665485877

In [50]:
#Accuracy on train
linReg.score(X_train,y_train)

0.9984235982286205